@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-pink-500{
    background-color: #FA21B0;
}
.bg-text-500{
    color: #FA21B0;
}

.text-pink-100{
    color: #DFC9FC;
}

.bg-pink-700{
    background-color: #DEB5FE;
}